[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
autopep8 = "*"
pycodestyle = "*"
requests = "*"
httpie = "*"

[packages]
pyyaml = "*"
falcon = "*"
marshmallow = "*"
gunicorn = "*"
bcrypt = "*"
cryptography = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
